html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(37, 36, 34);
}

header {
  height: fit-content;
  text-align: end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0 12px;
  text-transform: uppercase;
}

h1 {
  font-size: 42px;
  color: rgb(255, 252, 242);
}

h2 {
  font-size: 36px;
  color: rgb(235, 94, 40);
}

main {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(64, 61, 57);
  padding: 24px;
}

li {
  color: rgb(255, 252, 242);
  margin: 0 0 12px 0;
  font-size: 18px;
}

p {
  color: rgb(204, 197, 185);
  font-size: 18px;
}

img {
  max-height: 400px;
  max-width: 40%;
}

footer {
  text-align: center;
  padding: 24px 0;
  color: rgb(204, 197, 185);
}

.orange-text {
  color: rgb(235, 94, 40);
}

#intro-section {
  padding: 24px 0 0 0;
  height: fit-content;
}

#heading-text-container {
  float: right;
  width: 50%;
  margin: 0 0 0 12px;
}

#heading-text-container h1 {
  margin: 0 0 48px 0;
  overflow: auto;
}

#heading-text-container p {
  margin: 0 0 15% 0;
}